.bordered-titled-title {
    -fx-background-color: white;
    -fx-translate-y: -17;
    -fx-padding: 7 0 0 0;
}

.bordered-titled-border {
    -fx-content-display: top;
    -fx-border-insets: 15 5 5 5;
    -fx-border-color: black;
}

.bordered-titled-content {
    -fx-border-insets: 20 0 20 0;
}

.root{
    -fx-background: rgb(255, 255, 255)
}

#RightPane{
	-fx-padding: 0,10,0,10;
	-fx-border-insets: 5px;
	-fx-background-insets: 5px;
}

.rightVBox{
    -fx-spacing: 0;
}

.textArea{
    -fx-padding: 10;
    -fx-spacing: 5;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 1;
    -fx-background-color: linear-gradient(#ffffff, #a3e3f7);
}